* {
  padding: 0;
  margin: 0;
}

html {
  background-color: #eee;
}

.ContactPage {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContactList {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
}

.ContactList ul {
  list-style: none;
}

.ContactPreview {
  border: 1px solid rgb(167, 167, 167);
  box-sizing: border-box;
  height: 70px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  align-items: center;
  color: rgb(37, 37, 37);
}

.ContactPreview-img {
  width: 70px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContactPreview-img img {
  width: 60px;
  height: auto;
}

.ContactPreview-txt {
  width: 50%;
  margin-left: 10px;
}

.ContactDetailsPage {
  width: 400px;
  height: auto;
  margin: 0 auto;
}

.ContactDetailsPage-container {
  box-sizing: border-box;
  margin: 10px;
  height: auto;
  border-radius: 10px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  align-items: center;
  color: rgb(37, 37, 37);
}

.ContactDetailsPage-img {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.ContactDetailsPage-img img {
  width: 50%;
  height: 50%;
}

.ContactDetailsPage-txt {
  text-align: center;
  margin: 10px;
}

.HomePage {
  width: 400px;
  height: auto;
  margin: 0 auto;
}

.HomePage-container {
  box-sizing: border-box;
  margin: 10px;
  height: auto;
  border-radius: 10px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  align-items: center;
  color: rgb(37, 37, 37);
}

.HomePage-txt {
  text-align: center;
  margin: 10px;
}

.HomePage-img {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.HomePage-img img {
  width: 50%;
  height: 50%;
}

.rate {
  color: green;
}

.StatisticPage {
  width: 400px;
  height: auto;
  margin: 0 auto;
}

.StatisticPage-container {
  box-sizing: border-box;
  margin: 10px;
  height: auto;
  border-radius: 10px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  align-items: center;
  color: rgb(37, 37, 37);
}

.Chart {
  width: 90%;
  text-align: center;
  margin: 10px;
  background-color: rgba(247, 247, 247, 0.719);
}

.ContactFilter {
  width: 380px;
}

.ContactFilter input {
  width: 100%;
  padding: 10px 0 10px 0;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: center;
  color: rgb(37, 37, 37);
}

.ContactFilter-container {
  box-sizing: border-box;
  margin: 40px 10px 10px 10px;
  height: auto;
}